.App-root {
  background-color: #202020;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 20px;
  width: 100vw;
}

.App-preview {
  background-color: white;
  height: 100%;
  width: 100%;
}
